<div class="textarea-control-container">
  <label [for]="def.id">{{ def.label }}</label>
  <div class="textarea-wrapper relative">
    <textarea
      [id]="def.id"
      [ngModel]="value"
      (ngModelChange)="onValueChange($event)"
      [placeholder]="def.placeholder || ''"
      [disabled]="def.disabled || false"
      [appAutofocus]="def.autofocus"
      [attr.aria-label]="def.label"
      [attr.aria-required]="hasRequiredRule"
      [attr.aria-invalid]="!isValid && touched"
      [attr.aria-describedby]="def.id + '-error'"
      (blur)="touched = true; validate()"
      class="w-full"
    ></textarea>
    <div class="absolute bottom-2 right-2 flex items-center space-x-1">
      <button *ngIf="def.enableDictation && !def.disabled && !def.readonly"
              type="button"
              class="dictation-button text-gray-500 hover:text-blue-500 bg-white bg-opacity-75 rounded p-1"
              [ngClass]="{'text-blue-600 animate-pulse': isDictating}"
              (click)="toggleDictation()"
              aria-label="Toggle dictation"
              [title]="isDictating ? 'Stop dictation' : 'Start dictation'">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8h-2a5 5 0 01-10 0H3a7.001 7.001 0 006 6.93V17H6v2h8v-2h-3v-2.07z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
  <div class="flex justify-between items-start mt-1">
    <div [id]="def.id + '-error'" class="error-messages flex-1">
      <ng-container *ngIf="touched && !isValid">
        <div *ngFor="let error of errors" class="error-text">
          {{ error }}
        </div>
      </ng-container>
    </div>
    <div *ngIf="maxLengthRule !== null" class="character-count text-xs text-gray-500 ml-4 whitespace-nowrap">
      {{ currentLength }} / {{ maxLengthRule }}
    </div>
  </div>
</div>
