<div class="text-input-container">
  <label [for]="def.id">{{ def.label }}</label>
  <input
    [id]="def.id"
    type="text"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    [placeholder]="def.placeholder || ''"
    [disabled]="def.disabled || false"
    (blur)="touched = true; validate()"
  />
  <div class="flex justify-between items-start mt-1">
    <div class="error-messages flex-1">
      <ng-container *ngIf="touched && !isValid">
        <div *ngFor="let error of errors" class="error-text">
          {{ error }}
        </div>
      </ng-container>
    </div>
    <div *ngIf="maxLengthRule !== null" class="character-count text-xs text-gray-500 ml-4 whitespace-nowrap">
      {{ currentLength }} / {{ maxLengthRule }}
    </div>
  </div>
</div>
