<div class="dynamic-field-container" [ngSwitch]="componentDef.type" [hidden]="isHidden">
  <app-text-input *ngSwitchCase="'text'" [def]="componentDef" (valueChange)="onValueChange($event)" (isValidChange)="onValidationChange($event)"></app-text-input>
  <app-combobox-control *ngSwitchCase="'combobox'" [def]="componentDef" (valueChange)="onValueChange($event)" (isValidChange)="onValidationChange($event)"></app-combobox-control>

  <div *ngSwitchDefault class="fallback-field">
    Unsupported component type: {{ componentDef.type }} (ID: {{ componentDef.id }})
  </div>
</div>
