<div class="dynamic-field-container" [ngSwitch]="componentDef.type" *ngIf="!isHidden">
  <app-text-input *ngSwitchCase="'text'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-text-input>
  <app-combobox-control *ngSwitchCase="'combobox'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-combobox-control>
  <app-checkbox-control *ngSwitchCase="'checkbox'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-checkbox-control>
  <app-radio-control *ngSwitchCase="'radio'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-radio-control>
  <app-datepicker-control *ngSwitchCase="'datepicker'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-datepicker-control>
  <app-textarea-control *ngSwitchCase="'textarea'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-textarea-control>
  <app-file-control *ngSwitchCase="'file'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-file-control>
  <app-number-control *ngSwitchCase="'number'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-number-control>
  <app-password-control *ngSwitchCase="'password'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-password-control>
  <app-slider-control *ngSwitchCase="'slider'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-slider-control>
  <app-color-control *ngSwitchCase="'color'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-color-control>
  <app-time-control *ngSwitchCase="'time'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-time-control>
  <app-toggle-control *ngSwitchCase="'toggle'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-toggle-control>
  <app-rating-control *ngSwitchCase="'rating'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-rating-control>
  <app-stepper-control *ngSwitchCase="'stepper'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-stepper-control>
  <app-currency-control *ngSwitchCase="'currency'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-currency-control>
  <app-tags-control *ngSwitchCase="'tags'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-tags-control>
  <app-email-control *ngSwitchCase="'email'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-email-control>
  <app-phone-control *ngSwitchCase="'phone'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-phone-control>
  <app-url-control *ngSwitchCase="'url'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-url-control>
  <app-month-control *ngSwitchCase="'month'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-month-control>
  <app-search-control *ngSwitchCase="'search'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-search-control>
  <app-week-control *ngSwitchCase="'week'" [def]="componentDef" [value]="value" (valueChange)="onValueChange($event)" (isValidChange)="onValidChange($event)"></app-week-control>

  <div *ngSwitchDefault class="fallback-field">
    Unsupported component type: {{ componentDef.type }} (ID: {{ componentDef.id }})
  </div>
</div>
